* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: #F1F1F1;
    --fundo: #0B0B0B;
    --infos: #AAAAAA;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--fundo);
    color: var(--fonte);
    text-decoration: none;
}

.infos h1 {
    font-size: 20px;
    font-weight: 700;
}

.infos p {

    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a h1 {
    color: var(--fonte);
    font-size: 14px;
    font-weight: 500;
}

a p {
    color: var(--infos);
    font-size: 12px;
    font-weight: 400;
}