.container {
    margin: 30px;
    height: 880px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 50%);
}

.principal {
    grid-area: 1/1/3/1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gta-vi {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gta-vi .infos {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.descricao {
    width: 80%;
}

.gta-vi iframe {
    height: 100%;
    width: 100%;
}

.recomendados {
    display: grid;
    row-gap: 15px;
    padding: 10px;
}

.propaganda {
    width: 100%;
}
.infos-rec {
    display: flex;
}

.infos-rec-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}
